doctype html
html(lang='en')
	head
		// Required meta tags
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
		link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css')
		link(rel='stylesheet' href='../stylesheets/customizedstyles.css')
		title Title
	body
		.container-fluid.h-100
			.row
				nav.navbar.navbar-expand-lg.w-100.darkground
					button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarcontent' aria-controls='navbarcontent' aria-expanded='false' aria-label='Toggle navigation')
						span.navbar-toggler-icon
					#navbarcontent.collapse.navbar-collapse.w-100
						ul.navbar-nav.ml-auto
							li.nav-item
								a.nav-link(href='/') Home
							li.nav-item
								a.nav-link(href='/cityprofile') City profile
							li.nav-item
								a.nav-link(href='/mapapplication') Maps
							li.nav-item
								a.nav-link(href='/chartapplication') Charts
							li.nav-item.selected
								a.nav-link(href='/cwis') Indicators
							li.nav-item
								a.nav-link(href='/countryprofile') Country profile
							li.nav-item
								a.nav-link(href='/about') About
			.row.h-100.body.indicators
				.col-3.scrollbody
					.card-body
						h4 Description
						p
							| Please choose the indicators from the sections below to view the respective data visualized on the map window.
						.card-body
							//- h6 Demography
							//- .card-body
							//- 	.material-switch
							//- 		input#indicatord1(type='radio' name='indicators' value='d1')
							//- 		label(for='indicatord1')
							//- 		span Population
							//- 	.material-switch
							//- 		input#indicatord2(type='radio' name='indicators' value='d2')
							//- 		label(for='indicatord2')
							//- 		span Density
							//- 	.material-switch
							//- 		input#indicatord3(type='radio' name='indicators' value='d3')
							//- 		label(for='indicatord3')
							//- 		span Population change
							h6 CWIS
							.card-body
								span Access and Equity
								.card-body
									.material-switch
										input#imp_toilet(type='radio' name='indicators' value='imp_toilet')
										label(for='imp_toilet')
										span Percentage of population with access to improved individual toilets
									.material-switch
										input#will_imp_toilet(type='radio' name='indicators' value='will_imp_toilet')
										label(for='will_imp_toilet')
										span Willingness to improve toilet
									.material-switch
										input#will_imp_cont(type='radio' name='indicators' value='will_imp_cont')
										label(for='will_imp_cont')
										span Willingness to improve containment
								span Environmental Safety
								.card-body
									.material-switch
										input#cont_accessible(type='radio' name='indicators' value='cont_accessible')
										label(for='cont_accessible')
										span Percent of containments accessible
									.material-switch
										input#cont_emptied(type='radio' name='indicators' value='cont_emptied')
										label(for='cont_emptied')
										span Percent of containments emptied at least once
									.material-switch
										input#cont_emptied_2y(type='radio' name='indicators' value='cont_emptied_2y')
										label(for='cont_emptied_2y')
										span Percent of containments emptied within last 2 years
								span Worker Safety
								.card-body
									.material-switch
										input#cont_emptied_mp(type='radio' name='indicators' value='cont_emptied_mp')
										label(for='cont_emptied_mp')
										span Percent of containments emptied in mechanical process
									.material-switch
										input#fs_to_tp(type='radio' name='indicators' value='fs_to_tp')
										label(for='fs_to_tp')
										span Percent of sludge transported to treatment plant
								span Sustainability
								.card-body
									.material-switch
										input#will_imp_service(type='radio' name='indicators' value='will_imp_service')
										label(for='will_imp_service')
										span Willingness to improve service
									.material-switch
										input#FSTP_capacity(type='radio' name='indicators' value='FSTP_capacity')
										label(for='FSTP_capacity')
										span FS treatment capacity
								span Health Outcome
								.card-body
									.material-switch
										input#water_contamination_compliance(type='radio' name='indicators' value='water_contamination_compliance')
										label(for='water_contamination_compliance')
										span Percentage of water contamination compliance 
							h6 Solid Waste Management (SWM)
							.card-body
								span Segregation and Collection
								.card-body
									.material-switch
										input#swm_segregate(type='radio' name='indicators' value='swm_segregate')
										label(for='swm_segregate')
										span Percent of HH - segregate SW 
									.material-switch
										input#swm_col_van(type='radio' name='indicators' value='swm_col_van')
										label(for='swm_col_van')
										span Percent of HH - door to door collection
									.material-switch
										input#swm_van_ulb(type='radio' name='indicators' value='swm_van_ulb')
										label(for='swm_van_ulb')
										span Percent of HH - covered by ULB
									.material-switch
										input#swm_van_other(type='radio' name='indicators' value='swm_van_other')
										label(for='swm_van_other')
										span Percent of HH - covered by other agencies
								span Service Delivery
								.card-body
									.material-switch
										input#swm_charge_efficiency(type='radio' name='indicators' value='swm_charge_efficiency')
										label(for='swm_charge_efficiency')
										span Efficiency in collection of SWM charges
									.material-switch
										input#swm_will_imp_service(type='radio' name='indicators' value='swm_will_imp_service')
										label(for='swm_will_imp_service')
										span Percent of households willing to pay for improved service
								span Disposal & Treatment
								.card-body
									.material-switch
										input#swm_landfill_extent(type='radio' name='indicators' value='swm_landfill_extent')
										label(for='swm_landfill_extent')
										span Extent of scientific disposal of waste at landfill site
									.material-switch
										input#swm_tp_capacity(type='radio' name='indicators' value='swm_tp_capacity')
										label(for='swm_tp_capacity')
										span Treatment capacity
								span Reuse
								.card-body
									.material-switch
										input#swm_recovery_extent(type='radio' name='indicators' value='swm_recovery_extent')
										label(for='swm_recovery_extent')
										span Extent of recovery of waste collected
								span Market
								.card-body
									.material-switch
										input#swm_col_psp(type='radio' name='indicators' value='swm_col_psp')
										label(for='swm_col_psp')
										span PSP in secondary collection and transportation
									.material-switch
										input#swm_disposal_psp(type='radio' name='indicators' value='swm_disposal_psp')
										label(for='swm_disposal_psp')
										span PSP in treatment and disposal
				.col-9
					.chartpanel.card-body.h-100.text-center
						p All the data shown here based on district municipal area only.
						ul#tabs.nav.nav-tabs.nav-justified
							li.nav-item
								a.nav-link(href='#charttab' data-toggle='tab') Chart
							li.nav-item
								a.nav-link.active(href='#maptab' data-toggle='tab') Map
						.tab-content
							#charttab.tab-pane.fade.pt-5
								canvas#chart
							#maptab.tab-pane.fade.show.active.pt-3
								#mapind(style='height: 720px; width: 1370px')
		// Optional JavaScript
		// jQuery first, then Popper.js, then Bootstrap JS
		script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
		script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
		script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js' integrity='sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=' crossorigin='anonymous')
		script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js')
		script(src='https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js')
		script(src='../javascripts/indicators.js')
		script.
			$(document).ready(function() {
			$('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
			var activeTab = $(e.target).text(); // Get the name of active tab
			var previousTab = $(e.relatedTarget).text(); // Get the name of previous tab
			$(".active-tab span").html(activeTab);
			$(".previous-tab span").html(previousTab);
			});
			});
