doctype html
html(lang='en')
	head
		// Required meta tags
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
		//- link(rel='stylesheet' href='./bootstrap-4.5.2-dist/css/bootstrap.css')
		link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")
		link(rel='stylesheet' href='../stylesheets/customizedstyles.css')
		title Title
	body
		.container-fluid.h-100
			.row
				nav.navbar.navbar-expand-lg.w-100.lightground
					button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarcontent' aria-controls='navbarcontent' aria-expanded='false' aria-label='Toggle navigation')
						span.navbar-toggler-icon
					#navbarcontent.collapse.navbar-collapse.w-100
						ul.navbar-nav.ml-auto
							li.nav-item.selected
								a.nav-link(href='/') Home
							li.nav-item
								a.nav-link(href='/cityprofile') City profile
							li.nav-item
								a.nav-link(href='/mapapplication') Maps
							li.nav-item
								a.nav-link(href='/chartapplication') Charts
							li.nav-item
								a.nav-link(href='/cwis') Indicators
							li.nav-item
								a.nav-link(href='/countryprofile') Country profile
							li.nav-item
								a.nav-link(href='/about') About
			.row.h-100.body.home
				.col-8.offset-1
					img(src="/images/dphe_logo.png" alt="DPHE logo" width="8%")
					h6.headertitle Department of Public Health Engineering
					p.headerdescription Ministry of Local Government, Rural Development & Cooperation<br>Government of People's Republic of Bangladesh
					p.projecttitle Faecal Sludge & Solid Waste Management Status<br>
						span.titleext in 53 Paurashavas & 8 City Corporations
					a.btn.btn-primary.learnbtn(href='/about') Learn More
		// Optional JavaScript
		// jQuery first, then Popper.js, then Bootstrap JS
		script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
		script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')